body {
  background-color: #EBFDFF;
}
li {
  display: inline;
  margin: 13px;
  font-weight: 550;
}

.menu:hover {
  color: #BCBCBC;
  transition: 0.7s;
}

ul {
    text-align: right;
    margin: 40px;
}

a {
  color: #474747;
  text-decoration: none;
}

* {
  font-family: Arial;
}

#baner {
   height: 40%;
   width: 100%;
}

footer {
  text-align: center;
  background-color: #86F8FC;
  padding: 35px;
  border-radius: 7px;
  font-size: 20px;
  color: gray;
  margin-top: 15px;
}

h1 {
  font-size: 250%;
  text-align: center;
  color: teal;
  margin: 10px
}
